@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Balsamiq+Sans&family=Lexend+Peta&display=swap");
/*CONFIGURACIÓN*/
* {
  margin: 0px;
  padding: 0px;
}

.menu {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background: #311010;
  position: relative;
  right: 0px;
  top: 0px;
  z-index: 3000;
}
.menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #311010;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;
}
.menu ul li {
  margin: 0px 10px;
  list-style: none;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0px 10px;
}
.menu ul li a {
  text-decoration: none;
  font-family: "Amatic SC", cursive;
  color: white;
  font-size: 1.5rem;
}
.menu ul li:hover {
  background: #441616;
}
.menu ul li i {
  font-size: 18px;
}
.menu ul li:nth-last-child(1) {
  margin-right: 30px;
}
.menu div {
  display: flex;
  margin-left: 30px;
}

.navMobil {
  display: none;
  top: 0px;
  justify-content: flex-end;
  align-items: center;
  background: #311010;
  height: 50px !important;
  width: 100%;
}
.navMobil span {
  color: white;
  font-size: 25px;
  margin-right: 20px;
}
.navMobil span:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .navMobil {
    display: flex;
  }

  .menu {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background: #311010;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 3000;
    display: none;
    z-index: 999999999;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #311010;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
  }
  .menu ul li {
    margin: 0px 10px;
    list-style: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0px 10px;
  }
  .menu ul li a {
    text-decoration: none;
    font-family: "Amatic SC", cursive;
    color: white;
    font-size: 1.5rem;
  }
  .menu ul li:hover {
    background: #441616;
  }
  .menu ul li i {
    font-size: 18px;
  }
  .menu ul li:nth-last-child(1) {
    margin-right: 30px;
  }
  .menu div {
    display: flex;
    margin-left: 30px;
  }
  .menu div:nth-child(1), .menu div:nth-child(2) {
    display: none;
  }
  .menu ul {
    overflow-y: auto;
    border-left: solid 2px white;
    border-style: dashed;
  }
  .menu ul li {
    margin: 20px 0px;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border: none;
  }
  .menu ul li:hover {
    background: #441616;
  }
  .menu ul li i {
    color: #ffa556;
    margin-bottom: 2px;
  }
  .menu ul li:nth-last-child(1) {
    margin-right: 0px;
  }

  .fade {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: rgba(61, 60, 60, 0.7);
    z-index: 2000;
  }
}