@import 'mainMenu.scss';
@import 'mainSlider.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
// $colorSecundario:#F38222;
$colorSecundario:rgb(255, 165, 86);
// $colorSecundario:rgb(133, 109, 73);
$colorTerciario:#D95F4E;

* {
    margin: 0px;
    padding: 0px;
    // font-family:'Amatic SC', cursive; 
}

@mixin scrollTemplate($ancho) {
    /* width */
  ::-webkit-scrollbar {
  width: $ancho;
}

/* Track */
::-webkit-scrollbar-track {
  background:$colorPrincipal; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $colorSecundario; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color:$colorSecundario, $amount: 4)
}
}
body {
    
    display: flex;
    justify-content: center;
    // font-family: Verdana, sans-serif;
    background-image: url("../img/cafesitaFondo.jpg");
    background-size: 13rem;
    font-family:'Amatic SC', cursive; 
    color: white;
}

@include scrollTemplate(15px);

@mixin btn-flotante($colorFondo,$colorIcon,$alto) {
    display: flex;
    position: fixed;
    bottom: $alto;
    right:30px;
    background: $colorFondo;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: $colorIcon;
    font-size: 40px;
    -webkit-box-shadow: 1px 0px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 8px -2px rgba(0,0,0,0.75);
    z-index: 2000;
}
.btn-whats{
   @include btn-flotante(rgb(79, 185, 36),white,12%);
}
.btn-llamada{
   @include btn-flotante(rgb(255, 255, 255),rgb(27, 124, 8),22%);
}
.btn-face{
//    @include btn-flotante(rgb(53, 151, 216),rgb(255, 255, 255),5%);
  
}

.fb-customerchat{
    bottom: 2%!important;
    right:30px!important;
}

.mapa{
    width: 100vh;
}
.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darken($color:$colorPrincipal, $amount: 8);
    width: 80%;
    height: 100%;
    H1{
        font-size: 3rem;
        margin:15px 0px;
    }
}
.containerMenu{
    @extend .container;
    height: 100vh;
}

.logoCafesita{
    display: flex;
    justify-content: center;
    align-items: center;    
    position: absolute;
    left: 0px;
    top: 0px;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0;
    // top: 0px;
    z-index: 4000;
    width: 12rem;
    height: 12rem;
    // background: rgb(224, 141, 63);
    background: $colorSecundario;
    // border: 2px solid rgb(255, 255, 255);
    // -webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
    // box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 14px 16px 9px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 16px 9px -10px rgba(0,0,0,0.75);
    box-shadow: 14px 16px 9px -10px rgba(0,0,0,0.75);
    
}

.listMenu{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    h2{
        margin: 5px 10px;
        text-align: center;
        text-decoration:underline white;
        &:hover{
            cursor: pointer;
            text-decoration:underline $colorSecundario;
        }
    }
}
.listMenuActive{
    color: $colorSecundario;
    text-decoration:underline $colorSecundario;
}
.containerCards{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    background: $colorPrincipal;
    .cards{
        display: flex;
        flex-direction: row;
        .card{
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 400px;
            // border: 1px solid white;
            background: white;
            margin-right: 30px;
            margin-top: 50px;
            flex-shrink: 0;
            border-radius: 13px;
            font-family: "Open Sans Condensed", sans-serif;
            &:nth-child(1){
                margin-left: 40px;
            }
    
            .titleCard{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20%;
                font-family: Verdana!important;
                flex-wrap: wrap;
                background: $colorSecundario;
                border-radius: 13px 13px 0px 0px ;
                h3{
                    color: $colorPrincipal;
                    font-size: 25px;
                    text-align: center;
                    font-family: "Open Sans Condensed", sans-serif;
                }
            }
            .bodyCard{
                display: flex;
                justify-content: center;
                width: 100%;
                height: 80%;
                img{
                    background-position: center;
                    height: 280px;
                    width: 280px;
                    overflow: hidden;
                }
            }
            .bottonCard{
                display: flex;
                width: 100%;
                height: 20%;
                align-items: center;
                justify-content: flex-start;
                .btn-ver{
                    border-style: none;
                    border-radius: 8px;
                    height: 40px;
                    width: 100px;
                    margin-left: 10px;
                    background: $colorSecundario;
                    color:white;
                    font-size: 25px;
                    &:hover{
                        cursor: pointer;
                        background: darken($color: $colorSecundario, $amount: 8);
                    }
                }
            }
            
        }
    }
}
.modal{
    display: none;
    position: absolute;
    width: 30%;
    height: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;   
    background: rgb(253, 252, 252);
    z-index: 9000;
    color:black;
    border-radius: 10px;
    div:nth-child(1){
        display: flex;
        width: 100%;
        justify-content: flex-end;
        font-size: 28px;

        i{
            margin: 15px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.modalBackground{
    display: none;
    width: 100%;
    height:100%;
    position: absolute;
    top: 0px;
    background: rgba(61, 60, 60,0.7);
    z-index: 4000;
}
article{
    display: flex;
    flex-direction: column;
    padding:10px ;
    align-content: center;
    align-items: flex-start;
    font-size: 20px;
    margin-bottom: 30px;
    // border: 1px solid rgb(41, 26, 7);
    p{
        font-family: 'Open Sans Condensed', sans-serif!important;
        padding: 2rem;
    }
    h2{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.5rem;
        background-color: $colorPrincipal;
        // background-color:$colorSecundario;
        width: 20%;
        color: rgb(247, 240, 240);
        text-align: center;
        border-radius: 30px -30px 30px 30px;
    }
    // background: white;
    section{
        display: flex;
        margin-top: 40px;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    hr{
        width:100%;
        border: 0; border-top: 1px solid $colorSecundario;  
        border-style: dashed;
      }
}
footer{
    display: flex;
    background:$colorSecundario;
    width: 100%;
    height: 150px;
    font-size: 1.3rem;
    overflow: hidden;
    font-family:"Open Sans Condensed", sans-serif;
   
    a {
        color: white;
      }
    div:nth-child(1){
        display: flex;
        width: 50%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        p:nth-child(1){
            color:rgb(24, 22, 22);
            }
    }
    div:nth-child(2){
        display: none;
        width: 40%;
        height: 100%;
    }
    div:nth-child(3){
        b{
            font-weight: bold;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        p:nth-child(1){
        color:rgb(24, 22, 22);
        }
    }
}

.navMobil{
    display: none;
    position: absolute;
    margin-bottom: 60px!important;
    width: 100%;
}
@media (max-width: 800px) {
    h1{
        margin-top: 110px!important;
    }
    .modal{
        width:80% ;
    }
    .container{
        width: 100%; 
    }
    .card{
        margin-top: 0px!important;
        &:nth-child(1){
            margin-left: 40px;
        }
    }
    article{
        h2{
            width: 100%;
        }

        section{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    .mapa{
        width: 100%;
    }
    .btn-whats{
        @include btn-flotante(rgb(79, 185, 36),white,12%);
        right:25px;
     }
     .btn-llamada{
        @include btn-flotante(rgb(255, 255, 255),rgb(27, 124, 8),22%);
        right:25px;
    }
    .fb-customerchat{
        right:13px!important;
     }

     .logoCafesita{
         width: 6rem;
         height: 6rem;
         top: 0px;
         border: none;
         margin-left: auto;
         margin-right: auto;
         left: 0;
         right: 0;
         z-index: 1000;
         img{
             height: 90px;
         }
     }

     .navMobil{
         display: flex;
         height: 50px!important;
     }
}