@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Balsamiq+Sans&family=Lexend+Peta&display=swap");
/*CONFIGURACIÓN*/
@import 'mainSlider.css';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.menu {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background: #311010;
  position: relative;
  right: 0px;
  top: 0px;
  z-index: 3000;
}
.menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #311010;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;
}
.menu ul li {
  margin: 0px 10px;
  list-style: none;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0px 10px;
}
.menu ul li a {
  text-decoration: none;
  font-family: "Amatic SC", cursive;
  color: white;
  font-size: 1.5rem;
}
.menu ul li:hover {
  background: #441616;
}
.menu ul li i {
  font-size: 18px;
}
.menu ul li:nth-last-child(1) {
  margin-right: 30px;
}
.menu div {
  display: flex;
  margin-left: 30px;
}

.navMobil {
  display: none;
  top: 0px;
  justify-content: flex-end;
  align-items: center;
  background: #311010;
  height: 50px !important;
  width: 100%;
}
.navMobil span {
  color: white;
  font-size: 25px;
  margin-right: 20px;
}
.navMobil span:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .navMobil {
    display: flex;
  }

  .menu {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background: #311010;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 3000;
    display: none;
    z-index: 999999999;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #311010;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
  }
  .menu ul li {
    margin: 0px 10px;
    list-style: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0px 10px;
  }
  .menu ul li a {
    text-decoration: none;
    font-family: "Amatic SC", cursive;
    color: white;
    font-size: 1.5rem;
  }
  .menu ul li:hover {
    background: #441616;
  }
  .menu ul li i {
    font-size: 18px;
  }
  .menu ul li:nth-last-child(1) {
    margin-right: 30px;
  }
  .menu div {
    display: flex;
    margin-left: 30px;
  }
  .menu div:nth-child(1), .menu div:nth-child(2) {
    display: none;
  }
  .menu ul {
    overflow-y: auto;
    border-left: solid 2px white;
    border-style: dashed;
  }
  .menu ul li {
    margin: 20px 0px;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border: none;
  }
  .menu ul li:hover {
    background: #441616;
  }
  .menu ul li i {
    color: #ffa556;
    margin-bottom: 2px;
  }
  .menu ul li:nth-last-child(1) {
    margin-right: 0px;
  }

  .fade {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: rgba(61, 60, 60, 0.7);
    z-index: 2000;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("../img/cafesitaFondo.jpg");
  background-size: 13rem;
  font-family: "Amatic SC", cursive;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #311010;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa556;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff9a42;
}

.btn-whats {
  display: flex;
  position: fixed;
  bottom: 12%;
  right: 30px;
  background: #4fb924;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  box-shadow: 1px 0px 8px -2px rgba(0, 0, 0, 0.75);
  z-index: 2000;
}

.btn-llamada {
  display: flex;
  position: fixed;
  bottom: 22%;
  right: 30px;
  background: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: #1b7c08;
  font-size: 40px;
  box-shadow: 1px 0px 8px -2px rgba(0, 0, 0, 0.75);
  z-index: 2000;
}

.fb-customerchat {
  bottom: 2% !important;
  right: 30px !important;
}

.mapa {
  width: 100vh;
}

.container, .containerMenu {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #120606;
  width: 80%;
  height: 100%;
}
.container H1, .containerMenu H1 {
  font-size: 3rem;
  margin: 15px 0px;
}

.containerMenu {
  height: 100vh;
}

.logoCafesita {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 4000;
  width: 12rem;
  height: 12rem;
  background: #ffa556;
  box-shadow: 14px 16px 9px -10px rgba(0, 0, 0, 0.75);
}

.listMenu {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.listMenu h2 {
  margin: 5px 10px;
  text-align: center;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}
.listMenu h2:hover {
  cursor: pointer;
  -webkit-text-decoration: underline #ffa556;
          text-decoration: underline #ffa556;
}

.listMenuActive {
  color: #ffa556;
  -webkit-text-decoration: underline #ffa556;
          text-decoration: underline #ffa556;
}

.containerCards {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  background: #311010;
}
.containerCards .cards {
  display: flex;
  flex-direction: row;
}
.containerCards .cards .card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background: white;
  margin-right: 30px;
  margin-top: 50px;
  flex-shrink: 0;
  border-radius: 13px;
  font-family: "Open Sans Condensed", sans-serif;
}
.containerCards .cards .card:nth-child(1) {
  margin-left: 40px;
}
.containerCards .cards .card .titleCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-family: Verdana !important;
  flex-wrap: wrap;
  background: #ffa556;
  border-radius: 13px 13px 0px 0px;
}
.containerCards .cards .card .titleCard h3 {
  color: #311010;
  font-size: 25px;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
}
.containerCards .cards .card .bodyCard {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80%;
}
.containerCards .cards .card .bodyCard img {
  background-position: center;
  height: 280px;
  width: 280px;
  overflow: hidden;
}
.containerCards .cards .card .bottonCard {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: flex-start;
}
.containerCards .cards .card .bottonCard .btn-ver {
  border-style: none;
  border-radius: 8px;
  height: 40px;
  width: 100px;
  margin-left: 10px;
  background: #ffa556;
  color: white;
  font-size: 25px;
}
.containerCards .cards .card .bottonCard .btn-ver:hover {
  cursor: pointer;
  background: #ff8f2d;
}

.modal {
  display: none;
  position: absolute;
  width: 30%;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fdfcfc;
  z-index: 9000;
  color: black;
  border-radius: 10px;
}
.modal div:nth-child(1) {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 28px;
}
.modal div:nth-child(1) i {
  margin: 15px;
}
.modal div:nth-child(1) i:hover {
  cursor: pointer;
}

.modalBackground {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background: rgba(61, 60, 60, 0.7);
  z-index: 4000;
}

article {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  align-items: flex-start;
  font-size: 20px;
  margin-bottom: 30px;
}
article p {
  font-family: "Open Sans Condensed", sans-serif !important;
  padding: 2rem;
}
article h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5rem;
  background-color: #311010;
  width: 20%;
  color: #f7f0f0;
  text-align: center;
  border-radius: 30px -30px 30px 30px;
}
article section {
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
article hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #ffa556;
  border-style: dashed;
}

footer {
  display: flex;
  background: #ffa556;
  width: 100%;
  height: 150px;
  font-size: 1.3rem;
  overflow: hidden;
  font-family: "Open Sans Condensed", sans-serif;
}
footer a {
  color: white;
}
footer div:nth-child(1) {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer div:nth-child(1) p:nth-child(1) {
  color: #181616;
}
footer div:nth-child(2) {
  display: none;
  width: 40%;
  height: 100%;
}
footer div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
footer div:nth-child(3) b {
  font-weight: bold;
}
footer div:nth-child(3) p:nth-child(1) {
  color: #181616;
}

.navMobil {
  display: none;
  position: absolute;
  margin-bottom: 60px !important;
  width: 100%;
}

@media (max-width: 800px) {
  h1 {
    margin-top: 110px !important;
  }

  .modal {
    width: 80%;
  }

  .container, .containerMenu {
    width: 100%;
  }

  .card {
    margin-top: 0px !important;
  }
  .card:nth-child(1) {
    margin-left: 40px;
  }

  article h2 {
    width: 100%;
  }
  article section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mapa {
    width: 100%;
  }

  .btn-whats {
    display: flex;
    position: fixed;
    bottom: 12%;
    right: 30px;
    background: #4fb924;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    box-shadow: 1px 0px 8px -2px rgba(0, 0, 0, 0.75);
    z-index: 2000;
    right: 25px;
  }

  .btn-llamada {
    display: flex;
    position: fixed;
    bottom: 22%;
    right: 30px;
    background: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #1b7c08;
    font-size: 40px;
    box-shadow: 1px 0px 8px -2px rgba(0, 0, 0, 0.75);
    z-index: 2000;
    right: 25px;
  }

  .fb-customerchat {
    right: 13px !important;
  }

  .logoCafesita {
    width: 6rem;
    height: 6rem;
    top: 0px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .logoCafesita img {
    height: 90px;
  }

  .navMobil {
    display: flex;
    height: 50px !important;
  }
}