// @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lexend+Peta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Balsamiq+Sans&family=Lexend+Peta&display=swap');

/*CONFIGURACIÓN*/
// $colorPrincipal:rgb(90, 60, 22);
// $colorPrincipal:rgb(138, 80, 36);
$colorPrincipal:#311010;
$colorSecundario:rgb(255, 165, 86);
// $colorPrincipal:#d39c69;
$altoMenu:50px;
$colorIcons:rgb(255, 255, 255);
$fuente: 'Amatic SC', cursive;
$colorFuente:rgb(255, 255, 255);
$tamanioFuente:1.5rem;

*{
margin: 0px;
padding: 0px;
}

@mixin menuTemplate($posicion,$direccion,$justify,$aling,$color,$alto,$anchoMenu,$anchoUl,$fuente,$tamanioFuente,$colorFuente){
    display: flex;
    width: $anchoMenu;
    height:$alto;
    justify-content: space-around;
    align-items: center;
    background: $color;
    position: $posicion;
    right: 0px;
    top: 0px;
    z-index: 3000;

    ul{
        display: flex;
        flex-direction: $direccion;
        width: $anchoUl;
        height: 100%;
        background: $color;
        justify-content: $justify;
        align-items: $aling;
        justify-items: center;
        li{
           
            margin: 0px 10px;
            list-style: none;
            border: 1px solid white;
            border-radius: 10px;
            padding: 0px 10px;
            a{
                text-decoration: none;
                font-family: $fuente;
                color: $colorFuente;
                font-size: $tamanioFuente;
            }
            &:hover{background: lighten($color:$colorPrincipal, $amount: 5);}
            i{
                font-size: 18px;
            }
        }
        li:nth-last-child(1){
            margin-right: 30px;
        }
    }
    div{
        display: flex;
        margin-left: 30px;
    }
}

.menu{
  @include menuTemplate(relative,row,flex-end,center,$colorPrincipal,$altoMenu,100%,100%,$fuente,$tamanioFuente,$colorFuente);
}

.navMobil{
    display: none;
    top: 0px;
    justify-content: flex-end;
    align-items: center;
    background: $colorPrincipal;
    height: $altoMenu!important;
    width:100%;
    span{
        color: $colorIcons;
        font-size: 25px;
        margin-right: 20px;
        &:hover{
            cursor: pointer;
        }
    }
}


@mixin fade {
    .fade{
        display: none;
        width: 100%;
        height:100%;
        position: absolute;
        top: 0px;
        background: rgba(61, 60, 60,0.7);
        z-index: 2000;
    }
}
@media (max-width: 600px) {
    .navMobil{
        display: flex;
    }
    .menu{
        @include menuTemplate(fixed,column,flex-start,center,$colorPrincipal,100%,50%,100%,$fuente,$tamanioFuente,$colorFuente);
        display: none;
        z-index: 999999999;
        div:nth-child(1),div:nth-child(2){
            display: none;
        }

        & ul{
            overflow-y: auto;
            border-left: solid 2px white;
            border-style: dashed;
        }

        & ul li{
            margin: 20px 0px;
            padding: 10px 0px;
            width: 100%;
            text-align: center;
            border:none;
            &:hover{
            background: lighten($color:$colorPrincipal, $amount: 5);
            }   
            
        }
        & ul li i{
            color: $colorSecundario;
            margin-bottom: 2px;
            }   
            
        
       
        & ul li:nth-last-child(1){
            margin-right: 0px;
        }
      }

    @include fade();
}

